body{
	background-image:url(../images/textura3.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
	background-color:#FFDFD3;
}
h1{background-color:lightblue;
	color:lightyellow;
	font-size:30px;
	margin:5px auto;
	font-family:fontawesome;
	width:33%;
	text-align:center;
}
ul{
	background-color:grey;
	width:300px;
	font-family:cursive;
	margin:10px auto;
}

ul{
	list-style:none;
}
a{
	color:lightblue;
}
li:hover{
	color:lightyellow;
}
a:hover{
	color:lightyellow;
}
.primera{
	display:inline-block;
	float:left;
	width:33%;
	height:900px;
}
.segunda{
	display:inline-block;
	float:left;
	width:33%;
	height:900px;
}
.tercera{
	display:inline-block;
	float:right;
	width:33%;
	height:900px;
}

/*A continuación dejo comentadas las reglas de estilo que afectan a la división en dos div del index
en la implementación de la página sin estos dos div, estas reglas que siguen son innecesarias.*/
/*#ud01{
	display:inline-block;
	margin-top:50px;
	padding-left:10px;
	text-align:center;
	width:100%;
}
#ud02{
	display:inline-block;
	margin-top:50px;
	padding-left:10px;
	text-align:center;
	width:100%;
}
#ud03{
	display:inline-block;
	padding-left:10px;
	text-align:center;
	margin-top:50px;
	width:100%;
}
ol a{
	color:grey;
}
ol li{
	background-color:lightblue;
}
ol:hover{color:lightblue;}*/