body{
	background-image:url(../images/textura3.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
	background-color:#FFDFD3;
        height: 2040px;
        width: 100%;
}
h1{background-color:lightblue;
	color:lightyellow;
	font-size:30px;
	margin:5px auto;
	font-family:fontawesome;
	width:33%;
	text-align:center;
}
ul{
	background-color:grey;
	width:300px;
	font-family:cursive;
	margin:10px auto;
}

ul{
	list-style:none;
}
a{
	color:lightblue;
}
li:hover{
	color:lightyellow;
}
a:hover{
	color:lightyellow;
}
.primera{
	display:inline-block;
	float:left;
	width:33%;
	height:95%;
}
.segunda{
	display:inline-block;
	float:left;
	width:33%;
	height:95%;
}
.tercera{
	display:inline-block;
	float:right;
	width:33%;
	height:95%;
}