
@font-face{
	font-family:fa-brands;
	src:url(../fonts/fontawesome/webfonts/fa-brands-400.ttf);
}
@font-face{
	font-family:fa-brands;
	src:url(fonts/fontawesome/webfonts/fa-brands-400.woff);
}
@font-face{
	font-family:fa-brands;
	src:url(fonts/fontawesome/webfonts/fa-brands-400.woff2);
}
@font-face{
	font-family:fa-regular;
	src:url(fonts/fontawesome/webfonts/fa-regular-400.eot);
}
@font-face{
	font-family:fa-regular;
	src:url(fonts/fontawesome/webfonts/fa-regular-400.ttf);
}
@font-face{
	font-family:fa-regular;
	src:url(fonts/fontawesome/webfonts/fa-regular-400.woff);
}
@font-face{
	font-family:fa-regular;
	src:url(fonts/fontawesome/webfonts/fa-regular-400.woff2);
}
@font-face{
	font-family:fa-regular;
	src:url(fonts/fontawesome/webfonts/fa-solid-900.eot);
}
@font-face{
	font-family:fa-brands;
	src:url(fonts/fontawesome/webfonts/fa-solid-400.eot);
}
@font-face{
	font-family:fa-solid;
	src:url(fonts/fontawesome/webfonts/fa-solid-900.ttf);
}
@font-face{
	font-family:fa-solid;
	src:url(fonts/fontawesome/webfonts/fa-solid-900.woff);
}
@font-face{
	font-family:fa-solid;
	src:url(fonts/fontawesome/webfonts/fa-solid-900.woff2);
}
@font-face{
	font-family : Goldman;
	src: url(../fonts/Goldman-Bold.ttf);
	}
	@font-face{
	font-family : Goldman;
	src: url(../fonts/Goldman-Regular.ttf);
	}
	@font-face{
	font-family : Architects Daughter;
	src: url(../fonts/ArchitectsDaughter/ArchitectsDaughter-Regular.ttf);
	}
	@font-face{
	font-family : FrederickattheGreat;
	src: url(../fonts/FrederickatheGreat-Regular.ttf);
	}
	@font-face{
	font-family : Parisienne;
	src: url(../fonts/Parisienne-Regular.ttf);
	}
	@font-face{
		font-familly : Starjedi;
		src: url('');
	}