@font-face{
	font-family : fa;
	src: url(../fonts/webfonts/fa-brands-400.ttf);
	}
	@font-face{
	font-family : Goldman;
	src: url(../fonts/Goldman-Regular.ttf);
	}
	@font-face{
	font-family : Architects Daughter;
	src: url(../fonts/ArchitectsDaughter/ArchitectsDaughter-Regular.ttf);
	}
	@font-face{
	font-family : FrederickattheGreat;
	src: url(../fonts/FrederickatheGreat/FrederickatheGreat-Regular.ttf);
	}
	@font-face{
	font-family : Parisienne;
	src: url(../fonts/Parisienne-Regular.ttf);
	}
	@font-face{
		font-familly : Starjedi;
		src: url('');
	}